# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor files
.vscode/
.idea/
